
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Content Features Widget Flat Responsive Widget Template :: w3layouts</title>
<!-- for-mobile-apps -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Content Features Widget Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- //for-mobile-apps -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
<div class="main">
	<h1>Content Features Widget</h1>
		<div class="content">	
			<div class="features">
				<div class="feature-gd">
					<div class="fea-img">
						<div class="fea-bor">
							<img src="images/icon2.png" alt=" " />
						</div>
					</div>
					<h3>Skills</h3>
					<p>Nemo enim ipsam voluptatem 
					quia voluptas sit aspernatur 
					aut odit aut fugit, sed quia 
					consequuntur magni dolores eos qui
					ratione. </p>
				</div>
				<div class="feature-gd">
					<div class="fea-img">
						<div class="fea-bor">
							<img src="images/icon3.png" alt=" " />
						</div>
					</div>
					<h3>Speed</h3>
					<p>Nemo enim ipsam voluptatem 
					quia voluptas sit aspernatur 
					aut odit aut fugit, sed quia 
					consequuntur magni dolores eos qui
					ratione. </p>
				</div>
				<div class="feature-gd">
					<div class="fea-img">
						<div class="fea-bor">
							<img src="images/icon1.png" alt=" " />
						</div>
					</div>
					<h3>Pricing</h3>
					<p>Nemo enim ipsam voluptatem 
					quia voluptas sit aspernatur 
					aut odit aut fugit, sed quia 
					consequuntur magni dolores eos qui
					ratione. </p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<p class="footer">© 2016 Content Features Widget. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">W3layouts</a></p>
</div>
</body>
</html>